html,body{
    height: 100%;
}

svg {
    height: 100%;
    width: 100%;
}
.Title{
    position: fixed;
    height: 0;
    left: 0;
    z-index: 50;
}

.btnURL{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;
}

/* アニメーションが始まる前の状態 */
circle,path {
    /* transform: scale(1.2);
    transform-origin: center;
    transition: transform 0.4s;
    transition-timing-function:ease;
    opacity: 0; */
}

.path-show{
    /* transform: scale(1);
    opacity: 1; */
}