html,body{
    height: 100%;
}

svg {
    width: 100%;
}

circle,path {
    transform: scale(0.5);
    transform-origin: center;
    transition: transform 0.4s;
}

.path-show{
    transform: scale(0.1);
}

.easel {
    box-sizing: border-box;
    border: solid 10px red;
    height: 100%;
    position: relative;
    overflow: hidden; /*はみ出した部分をマスクする*/
}
 .easel-img{
     width: 20%;
     position: absolute;
     filter: hue-rotate(180deg);
 }