html,body{
    height: 100%;
}

.easel {
    box-sizing: border-box;
    border: solid 10px red;
    height: 100%;
    position: relative;
    overflow: hidden; /*はみ出した部分をマスクする*/
}
 .easel-img{
     width: 20%;
     position: absolute;
     filter: hue-rotate(180deg);
 }